// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
  display: inline;
  background: #3298DB;
  padding: 15px;
  width: 15px;
  font-size: 50px;
  color: white;
  border: 1px solid black;
  margin-left: 10px;
  box-shadow: 10px 18px 33px -13px rgba(0,0,0,0.75);
}
